
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



*{
    margin: 0;
    padding: 0;

}

/* Shared */
.size{
    max-width: 1060px;
    margin: 0 auto;
}
h2{
    color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 900;
}
.btn{
    border-radius: 42px;
background: rgb(230, 83, 60);
font-size: 18px;
font-weight: 600;
width: 224px;
height: 54px;
padding: 16px 40px;
color: white;
border: none;
}
.c{
    max-width: 671px;
    height: 120px;
    flex-direction: column;
    margin: 70px auto;
    text-align: center;
}
.text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin: 14px 0px;
}
body{
    background-color: black;
}
.dis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    box-shadow:linear-gradient(180deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%),; 

}

/* Nav */
nav{
    padding-top: 57px;
}
.fit h3{
    color: rgb(230, 83, 60);
font-size: 36px;
font-weight: 800;
}
ul{
    width: 465px;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
padding-right: 10px;

}
li{
    list-style: none;
    color: white;
    font-size: 18px;
font-weight: 400;
}
.b{
    width: 92px;
    height: 38px;
    padding: 8px 20px;

}


/* Banner */
.title{
    width: 520px;
height: 440px;
}


.title h1{
    font-size: 78px;
    font-weight: 900;
    color: white;
    line-height: 100%;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 110px;
}

.title p{
    color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
margin: 2rem 0;

}
/* Cng ur habits */

.c p{
    text-align: center;
}
.round-cards{
    margin: 10rem 0;
}

.card{
    width: 231px;
height: 64px;
display: flex;
flex-direction: column;
justify-content: center;
}
.card p{
    text-align: center;
}
.card img{
    width: 240px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 2rem;
}
h6{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
margin: 0 auto;
}

/* Run */

.run{
border-radius: 18px;
background: rgb(34, 34, 34);
margin:0 auto;
}
.run img{
width: 366px;
height: 312px;
border-radius: 18px;
}
/* BMI */
.bmi{
    width: 671px;
    flex-direction: column;
    margin: 70px auto;
    text-align: left;
}
.calc{
    background: rgb(34, 34, 34);
}
.s{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}
h3{
    color: rgb(255, 255, 255);
font-size: 28px;
font-weight: 900;
text-align: left;}
.chart h3{
    margin: 52px 0;
}
th{
    color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 500;
}
td{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
}
table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

th, td {
    padding: 10px 1rem;
    text-align: left;
}

.bmi-container {
    padding: 30px;
    max-width: 577px;
    text-align:left;
}
.bmi-t{
    margin-bottom: 30px;
}
form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px   
}

input,.input-group select{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
}
option{
    background-color: darkslategrey;
}
.px{
    width: 44%;
}
.px2{
    width: 49%;
}
.act{
width: 100%;
}

input::placeholder,
select {
    color: rgba(255, 255, 255, 0.6);
}



/* Team */
.team img{
width: 326px;
height: 272px;
border-radius: 18px;

}
.team{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    margin-bottom: 70px;
}
/* My extra work */
.get-free h2{
    text-align: center;
}
.free{
    color: rgb(230, 83, 60);
}
.form-container {
    max-width: 776px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}
.sub{
    margin-top: 1rem;
}
.sub button{
    width: 400px;
}
.f1 input, 
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #8e8c8c;
}
textarea::placeholder{
    color: #000;
}
.f, .f1{
    width: 45%;
}
.checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.checkboxes label {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

/* Footer */

footer{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
}